.cards {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 100px;
    max-width: 920px;
    list-style: none;
  }
  @media screen and (max-width: 1200px) {
    .cards {
      column-gap: 40px;
    }
  }
