/*
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue","Inter" "Arial", sans-serif;
  font-weight: normal;
}
.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
} 
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  padding-left: 64px;
} */
/*
.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;
} */
/*
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__link:hover {
  opacity: 0.5;
}
*/
/*
.header__main-illustration {
  background-size: cover;
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
} 
.animation {
  animation: rotation 20s infinite linear;
}
/*
.content {
  margin: 0 auto;
} */
/*
.description {
  padding-top: 100px;
  margin: 0 auto;
} */
/*
.two-columns {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
} */
/*
.two-columns__brief {
  width: 175px;
  align-items: start;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
} */
/*
.two-columns__main-text {
  margin: 0;
  width: 80%;
  max-width: 784px;
  color: #000000;
  line-height: 34px;
  font-size: 24px;
  row-gap: 30px;
  font-weight: normal;
} */
/*
.two-columns__span-acent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
} */
/*
.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-style: bold;
  margin: 0 auto;
  width: 60%;
  padding-top: 100px;
} */
/*
.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
} */
/*
.techniques {
  margin: 0 auto;
  width: 80%;
} */
/*
.cards {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 920px;
  list-style: none;
} */
/*
.cards__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
} */
/*
.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px 40px;
  border-radius: 50%;
} */
/*
.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
} */
/*
.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-style: normal;
  text-align: center;
} */
/*
.video {
  margin: 0 auto;
} */
/*
.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 20px;
  z-index: 1;
  top: 50px;
} 
.video__iframe {
  margin: 0;
  width: 515px;
  height: 316px;
} 
.oakley {
  z-index: 0;
  margin: 0 auto;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 160px;
} 
.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 890px;
  margin: 0 auto;
} 
.feynman__title {
  width: 648px;
  position: relative;
  padding-top: 100px;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  width: 648px;
  text-align: center;
  margin: 0 auto;
} 
.feynman__subtitle {
  position: relative;
  text-align: center;
  margin-top: 70px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
} */
/*
.feynman__image {
  margin: 0;
  width: 867px;
  height: 637px;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  z-index: 1;
}

.feynman__link:hover {
  opacity: 0.5;
}
.digits {
  margin: 0 auto;
  position: relative;
} 
.table {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1100px;
  padding-bottom: 100px;
  list-style: none;
} 
.table__cell {
  z-index: 2;
  margin-top: 60px;
  width: 250px;
} 
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
} 

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
} 
.khan {
  background-color: #f2f2f2;
  margin: 0 auto;
  position: relative;
} 
.khan__container {
  padding-top: 100px;
  width: 80%;
  margin: auto;
  position: relative;
} 
.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
} 
.khan__title {
  margin-top: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 50px;
} 
.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-bottom: 36px;
} 
.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
} 
.khan__quote-author-subline {
  margin-top: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
} 

.khan__book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} 
.khan__book-pic {
  margin: 0;
  background-image: url(../images/khan-book.jpg);
  background-size: cover;
  background-position: 0 0;
  width: 620px;
  height: 608px;
  margin-right: 48px;
} /*
.khan__buy-link {
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.5;
} 
.kaufman {
  margin: 0;
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  z-index: 1;
} 
.kaufman__triangle {
  margin: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
} 
.section-title_theme_dark {
  margin: 0 auto;
  color: white;
  padding-top: 0;
  position: relative;
  z-index: 2;
} 

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 2;
} 

.table_theme_dark {
  margin: 0 auto;
  z-index: 2;
  color: white;
} 

.table__cell_theme_dark {
  width: 200px;
  color: white;
  z-index: 2;
} 

.table__heading_theme_dark {
  color: white;
  z-index: 2;
} 
.table__text_theme_dark {
  color: white;
  z-index: 2;
} 

.resources {
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}
.resources__logo-zone {
  width: 1100px;
  display: flex;
  flex-direction: row;
  margin: 80px auto 217px auto;
}

.resources__link {
  margin: 0;
  width: 270px;
  height: 38px;
}
.resources__link:hover {
  opacity: 0.5;
}

.resources__logo {
  width: 100%;
  height: 100%;
  margin: 0 auto;
} 

.footer {
  position: relative;
  min-height: 350px;
  background-color: #000000;
  display: flex;
  justify-content: center;
} 

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}
/*
.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px 0;
}

.footer__column_content_info {
  margin: 0 auto;
}

.footer__column_content_social {
  margin: 0 auto;
} 

.footer__column-heading {
  margin: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.footer__column-links {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 16px;
}

.footer__column-link {
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column-link:not(:last-of-type) {
  margin-bottom: 10px;
} 

.footer__column-link:hover {
  opacity: 0.5;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
*/